# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio stuff
*.db
*.sdf
*.opendb

# Executables
*.exe
*.out
*.app
/swigwin-3.0.10/
/gen/
vs2015/Swig/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Tests/bin/
src/USD.NET.Unity/bin/

# vim
*.swp
*.pyc

# VS.NET
*.csproj.user
*.vcxproj.user
obj
x64
vs2015/USD.NET/packages
vs2015/UsdCs/Release/*
packages.config
/inst/
*.unitypackage

# OSX
.DS_Store

# UPM
upm-ci~

TestProject/Library
TestProject/ProjectSettings
TestProject/Temp
TestProject/*.sln*
TestProject/*.csproj
TestProject/.idea
TestProject/Logs
TestProject/Assets/Plugins
TestProject/Assets/Samples*
inst-dbg/
